<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
/>

<header >

    <div class="img-logo"></div>

    <div class="header-store-shop">
        <h2>StoreShop</h2>
    </div>

    <div class="header-options">
        <a href="">Shop</a>
        <a href="">New arrivals</a>
        <a href="">About</a>
        <a href="">Contact</a>

    </div>

    <div class="header-search">
        <input type="search" placeholder="Search...">
    </div>

    <div class="header-profile">
        <a href=""></a>
    </div>
    <div class="header-profile-2">
        <a href=""></a>
    </div>

</header>