* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

:host {
  display: block;
  min-height: 100vh;
  background-color: #F6F7F8;
}

header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 5px;

}


.header-options {
    margin-right: 200px;
}

.header-options a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin: 10px;
}

.header-search input {
    padding: 10px;
    border-radius: 6px;
    background: #F6F7F8;
    border: none;
    width: 250px;
    
}


.header-profile {
    margin: 10px;
}

.header-profile a{
    margin: 10px;
    text-decoration: none;
}


.container {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    height: 600px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(15, 23, 42, 0.09);
    margin-top: 100px;
 
}

.Welcome-back h2{
   font-size: 36px;
   align-items: center;
   padding:17px;
   font-weight: 700;
   
}

.Welcome-back p {
    font-size: 19px;
    font-weight:lighte;
    margin-bottom: 40px;
    color: 
    #787f8a;
}



.informations-email label{
    display: block;
    font-weight: 400;
    margin-bottom: 5px;

}

.informations-email input {
    background: #F8FAFC url('/assets/email.png') no-repeat 10px center;
    background-size: 27px;
    width: 370px;
    padding: 15px;
    border-radius: 6px;
    background-color: #F8FAFC;
    margin-bottom: 20px;
    border: 1px solid #cfd3d9;
}

.informations-email input:not(:placeholder-shown) {
    background-image: none;
    padding-left: 12px; 
    padding-top: 20px;
    color: #94A3B8;
}

.informations-email input::placeholder {
    padding-left: 30px;
    font-size: 17px;
    color: #94A3B8;
}

.informations-password label {
    display: block;
    font-weight: 400;
    margin-bottom: 5px;

}

.informations-password input {
    background: #F8FAFC url('/assets/padlock.png') no-repeat 10px center;
    background-size: 27px;
    width: 370px;
    padding: 15px;
    border-radius: 6px;
    background-color: #F8FAFC;
    margin-bottom: 5px;
    border: 1px solid #cfd3d9;

}



.informations-password input:not(:placeholder-shown) {
    background-image: none;
    padding-left: 12px; 
    padding-top: 20px;
    color: #94A3B8;
}

.informations-password input::placeholder {
    padding-left: 30px;
    font-size: 17px;
    color: #94A3B8;
}

.forgot-pass a {
    margin-left: 250px;
    font-size: 16px;
    margin-bottom: 40px;
    color:  #197FE6;
    font-weight: 600;
    text-decoration: none;
}

.button-sign button {
    width: 400px;
    padding: 15px;
    border-radius: 6px;
    background-color: #197FE6;
    margin-top: 35px;
    margin-bottom: 40px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;

}

.continue {
    color: #94A3B8;
    margin-bottom: 20px;

}

.acess-google-ios .google {
    background-image: url('/assets/google.png');
    background-repeat: no-repeat;
    background-position: 42px;
    background-size: 20px;
    padding: 16px;
    

}

.acess-google-ios .ios {
    background-image: url('/assets/apple.png');
    background-repeat: no-repeat;
    background-position: 42px;
    background-size: 22px;
    padding: 16px;
    

}

.acess-google-ios button {
    width: 190px;
    border-radius: 6px;
    padding: 16px;
    margin: 5px;
    background-color: #FFFFFF;
    font-size: 13px;
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid #cfd3d9;
}

.dont-have-acc  {
    color: #565f6c;
}

.dont-have-acc  a{
    color: #197FE6;
    text-decoration: none;
    font-weight: 700;
}


footer {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    color: #94A3B8;
    font-size: 16px;


}
