<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
/>


<header >

    <div class="img-logo"></div>

    <div class="header-store-shop">
        <h2>StoreShop</h2>
    </div>

    <div class="header-options">
        <a href="">Shop</a>
        <a href="">New arrivals</a>
        <a href="">About</a>
        <a href="">Contact</a>

    </div>

    <div class="header-search">
        <input type="search" placeholder="Search...">
    </div>

    <div class="header-profile">
        <a href=""></a>
    </div>
    <div class="header-profile-2">
        <a href=""></a>
    </div>

</header>

<div class="container">
    <div class="Welcome-back">
        <h2>Welcome back</h2>
        <p>Please enter your details to sign in.</p>

    </div>

    <div class="informations-email">
        <label for="">Email</label>
        <input type="text" [(ngModel)]="email" name="email" placeholder="name@company.com">

    </div>
     <p class="errorMessage-email" *ngIf="errorMessage">{{ errorMessage }}</p>


    <div class="informations-password">
        <label for="">Password</label>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Enter your password">
    </div>
    <p class="errorMessage-password" *ngIf="errorMessaagePassword">{{ errorMessaagePassword }}</p>


    <div class="forgot-pass">
        <a href="">Forgot Password?</a>
    </div>

   

    <div class="button-sign">
        <button (click)="onButtonClick()">Sign in</button>
    </div>

    <div class="continue">
        <p> <strong>–––––––––––––– </strong>OR CONTINUE WITH<strong> ––––––––––––––</strong> </p>
    </div>

    <div class="acess-google-ios">
        <button class="google">Google</button>
        <button class="ios">Apple</button>
    </div>

    <div class="dont-have-acc">
        <p>Don't have account? <a href="">Sign up</a></p>
        
    </div>
</div>

<footer>
    <div>
        <p>© 2024 Your Store Inc. All rights reserved</p>
    </div>
</footer>






