<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
/>


<header >

    <!-- <div class="header-img">
        <p>img</p>
    </div>
     -->

    <div class="header">
        <h2>Store Shop</h2>
   
    </div>

    <div class="header-options">
        <a href="">Shop</a>
        <a href="">New arrivals</a>
        <a href="">Sobre</a>
        <a href="">Contact</a>

    </div>

    <div class="header-search">
        <input type="text" placeholder="Search...">
    </div>

    <div class="header-profile">
        <a href="">img</a>
        <a href="">img</a>
     
    </div>

</header>

<div class="container">
    <div class="Welcome-back">
        <h2>Welcome back</h2>
        <p>Please enter your details to sign in.</p>

    </div>

    <div class="informations-email">
        <label for="">Email</label>
        <input type="text" placeholder="name@company.com">

    </div>
    <div class="informations-password">
        <label for="">Password</label>
        <input type="password" placeholder="Enter your password">
    </div>


    <div class="forgot-pass">
        <a href="">Forgot Password?</a>
    </div>

    <div class="button-sign">
        <button>Sign in</button>
    </div>

    <div class="continue">
        <p> ––––––––– OR CONTINUE WITH ––––––––– </p>
    </div>

    <div class="acess-google-ios">
        <button>Google</button>
        <button>IOS</button>
    </div>

    <div class="dont-have-acc">
        <p>Don't have account? <a href="">Sign up</a></p>
        
    </div>
</div>


<footer>
    <div>
        <p>© 2024 Your Store Inc. All rights reserved</p>
    </div>
</footer>






