* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

:host {
  display: block;
  min-height: 100vh;
  background-color: #F6F7F8;
  padding:1px;
}

.container {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    height: 600px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 30px 40px rgba(15, 23, 43, 0.15);
    margin-top: 50px;
 
}



.Welcome-back h2{
   font-size: 36px;
   align-items: center;
   padding:17px;
   font-weight: 700;
   
}

.Welcome-back p {
    font-size: 19px;
    font-weight:lighte;
    margin-bottom: 40px;
    color: 
    #787f8a;
}



.informations-email label{
    display: block;
    font-weight: 400;
    margin-bottom: 10px;

}

.informations-email input {
    background:  url('/assets/email.png') no-repeat 10px center;
    background-size: 27px;
    padding: 15px;
    width: 350px;
    padding-left: 40px;
    border-radius: 6px;
    background-color: #F8FAFC;
    margin-bottom: 5px;
    border: 1px solid #cfd3d9;
    margin-bottom: 10px;
}

// .informations-email input:not(:placeholder-shown) {
//     background-image: none;
//     padding-left: 12px; 
//     padding-top: 20px;
//     color: #94A3B8;
// }

.informations-email input::placeholder {
    font-size: 17px;
    color: #94A3B8;
}

.errorMessage-email {
    color: red;
    margin-bottom: 30px;
    
    
}

.informations-password label {
    display: block;
    font-weight: 400;
    margin-bottom: 5px;

}

.informations-password input {
    background: url('/assets/padlock.png') no-repeat 10px center;
    background-size: 27px;
    padding: 15px;
    width: 350px;
    padding-left: 40px;
    border-radius: 6px;
    background-color: #F8FAFC;
    margin-bottom: 5px;
    border: 1px solid #cfd3d9;
    margin-bottom: 10px;

}

.errorMessage-password {
    color: red;
    margin-bottom: 30px;
}



// .informations-password input:not(:placeholder-shown) {
//     background-image: none;
//     padding-left: 12px; 
//     padding-top: 20px;
//     color: #94A3B8;
// }

.informations-password input::placeholder {
    
    font-size: 17px;
    color: #94A3B8;
}

.forgot-pass a {
    margin-left: 250px;
    font-size: 16px;
    margin-bottom: 40px;
    color:  #197FE6;
    font-weight: 600;
    text-decoration: none;
}

.login-error-message {
    color: red;
    margin-top: 30px;
}

.button-sign button {
    width: 400px;
    padding: 15px;
    border-radius: 6px;
    background-color: #197FE6;
    margin-top: 35px;
    margin-bottom: 40px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;

}

.button-sign button:hover {
    background-color: #328fec;
    
}



.continue {
    color: #94A3B8;
    margin-bottom: 20px;
}

.continue strong {
    color: #ebedf0;
    font-weight: 100;
    
}

.acess-google-ios .google {
    background-image: url('/assets/google.png');
    background-repeat: no-repeat;
    background-position: 42px;
    background-size: 20px;
    padding: 16px;
    

}

.acess-google-ios .ios {
    background-image: url('/assets/apple.png');
    background-repeat: no-repeat;
    background-position: 42px;
    background-size: 22px;
    padding: 16px;
    

}

.acess-google-ios button {
    width: 190px;
    border-radius: 6px;
    padding: 16px;
    margin: 5px;
    background-color: #FFFFFF;
    font-size: 13px;
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid #cfd3d9;
}

.dont-have-acc  {
    color: #565f6c;
}

.dont-have-acc  a{
    color: #197FE6;
    text-decoration: none;
    font-weight: 700;
}


footer {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    color: #94A3B8;
    font-size: 16px;


}
